# Public IPv4/DNS that the mobile client can reach.
PUBLIC_IP=YOUR_VPS_PUBLIC_IP

MYSQL_DATABASE=blackcore
MYSQL_USER=blackcore
MYSQL_PASSWORD=CHANGE_THIS_DB_PASSWORD
MYSQL_ROOT_PASSWORD=CHANGE_THIS_ROOT_PASSWORD

INTERSERVER_USER=blackcore_inter
INTERSERVER_PASSWORD=CHANGE_THIS_INTERSERVER_PASSWORD
